.heading {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}


#output-div {
      text-align: center;
      margin-top: 30px;   
}


.note {
  text-align: center;
  margin-top: 30px;
}